MicroBase.Module.Blog/bin/
MicroBase.Module.Blog/obj/
MicroBase.Module.BlogApi/bin/
MicroBase.Module.BlogApi/obj/
MicroBase.Module.BlogApi/.vs/
.vs/
MicroBase.Dashboard/appsettings.json/appsettings.Development
MicroBase.Dashboard/appsettings.Development.json
Blog.Entity/obj/
Blog.Service/obj/
Blog.Share/bin/
Blog.Service/bin/
Blog.Entity/bin/
Blog.Api/obj/
Blog.Api/bin/
Blog.Share/obj/
Blog.Dashboard/bin/
Blog.Dashboard/obj/
Blog.Api/.config/
Blog.Api/Properties/
